{
  "site": {
    "url": "http://instaflickr.iseetheline.ru",
    "name": "InstaFlickr",
    "debug": true
  },
  "flickr": {
    "urls": {
      "auth": "http://flickr.com/services/auth/",
      "rest": "http://flickr.com/services/rest/"
    },
    "methods": {
      "flickr.auth.getToken": ["frob", "api_key", "api_sig", "format"]
    },
    "api_key": "api_key_from_flickr",
    "secret": "api_secret_from_flickr",
    "perms": "write",
    "format": "json"
  }
}

