{% extends "layout.html" %}


{% block content %}
  <p>Five steps to backup Instagram to Flickr.</p>
  <ol>
    <li>Create a recipe on IFTT to instanty copy photos from Instagram to Flickr in it's original 612x612 resolution.</li>
    <li>When you want to backup original sized photos to Flickr, upload them to Dropbox and share a folder.</li>
    <li><a href="/login">Login</a> with your Flickr credentials</li>
    <li>Give us a share folder at Dropbox</li>
    <li>Press Analyze and wait for a 10 minutes (depends on a number of photos)</li>
    <li>Check photos you want to replace with it's originals and press "Replace"</li>
  </ol>

{% endblock %}
