{% extends "layout.html" %}

{% block title %}Login to {{ params.site.name }}{% endblock %}


{% block content %}

  {% if not session.username %}
    <p>Here you can
      <a href="{{ flickr_url }}">login with Flickr</a> to {{ params.site.name }}.
    </p>
  {% elif stat=='ok' %}
    <p>It seems that you're logged in with Flickr.</p>
  {% else %}
    <p>It seems that there is a problem with logging in with Flickr.</p>
  {% endif %}

  {% if response %}
    <p>Response:</p>
      <pre><code>{{ response }}</code></pre>
  {% endif %}
    

{% endblock %}
